.ipynb_checkpoints

__pycache__/
*.py[cod]

.vscode
cache/
data/
venv/
model/
hub/

!koria/data_loaders/data
test.py
task_performance.txt
semantic_matching_dataset_generation.py

1_wikipedia_filtering.py
2_wikipedia_ner.py