.ipynb_checkpoints/
*.ipynb

__pycache__/
*.py[cod]

.vscode
cache/
data/
venv/
model/
hub/
!brokorli/dataloaders/data

test.py
task_performance.txt
semantic_matching_dataset_generation.py

brokorli_mrc/
brokorli_ner/
brokorli_sm/
examples/
test/
config/
